@import url('.guides/defaults.css');

/**
 * Custom overrides
 */
img {
  display: inline;
}
.codio-challenge.codio-assessment-free-text {
    margin-bottom: 0;
}

button.codio-button-type-next[disabled] {
  border-color: #ddd;
}

button.codio-button-type-next[disabled] span {
  display: none;
}

button.codio-button-type-next[disabled]::after {
  content: "Loading..."
}